header, #name, #navigation, #main, #about, #resume, #portfolio, #shoppingList, #fizzBuzz, #hotOrCold,
#quiz, #stackoverflow, #weatherStation, footer, #rowOne, #rowTwo, h1 {
	position: relative;
	/*border: 1px solid black;*/
}

h1 {
	font-size: 2em;
}

.navButton {
	text-decoration: none;
}

.navButton:link {
	color: #000;
}

.navButton:hover {
	color: blue;
}

#main h1 {
	margin-left: 10px;
	text-transform: uppercase;
}

#main h1 span {
	position: absolute;
	top: -150px;
}

html {
	background-color: #59546B;
	background-image: url(images/backgroundZupanija.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family:'Ubuntu', serif;
}

header {	
/*	position: fixed;
margin-top: -160px;*/
	border: 1px solid black;
	margin-left: -1px;
	
	height: 150px;
	width: 100%;
	background-color: #fff;
	z-index: 2;
	background: rgba(255, 255, 255, 0.9);
}

#name {
	text-align: center;
}

#name ul {
	list-style: none;
	margin-top: 10px;
}

#name ul li {
	display: block;
	font-size: 14px;
	margin: 0 0 5px 0;
	text-align: center;
}

#navigation {
	float: right;
	height: 40px;
	margin-left: 20px;
	margin-top: 23px;
}

#navigation ul {
	list-style: none;
	margin-left: -10px;
	margin-top: 0;
}

#navigation ul li {
	display: inline-block;
	margin: 10px 15px 0 15px;
	font-size: 1.5em;
}

#main p, #resume p, #portfolio p {
	margin-top: 10px;
}

#main {
	margin: 0 auto;
	/*margin-top: 160px;*/
	margin-top: 15px;
	width: 1000px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#about {
	height: 300px;
}

#about p, #resume p, .background {
	font-size: 20px;
	margin-left: 25px;
	padding-bottom: 10px;
}

#resume {
	height: 300px;
}

#portfolio {
	height: 915px;
}

.projects {
	float: left;
	margin: 50px 14px 15px 14px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	box-shadow: 1px 1px 2px #e6e6e6;
	
	background: #fff no-repeat center center;
}

.projects img {
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
}

footer {
	position: absolute;
	height: 85px;
	width: 100%;
	background-color: rgb(214, 214, 214);
	text-align: center;
	margin-top: 15px;
	padding-top: 4px;
}

footer img {
	margin-top: 5px;
	height: 75px;
	width: 75px;
}

/*--- Loaded Project---*/
#loadedProject, #headerProject, .xImage, #projectName, #projectLoaded, #xMark {
	position: relative;
	/*border: 1px solid black;*/
}

#loadedProject {
	margin-top: 5px;
	height: 735px;
	background-color: white;
}

#headerProject {
	position: relative;
	height: 35px;
	width: 100%;
}

#xMark {
	height: 30px;
	width: 30px;
	float: right;
	padding-top: 2px;
	padding-right: 40px;
}

#projectName {
	height: 35px;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	z-index: 1;
}

#projectLoaded {
	height: 735px;
}

object {
	width: 100%;
	height: 800px;
}

/*--- Hover effects ---*/
span {
	cursor: pointer;
}

.projectHover img {
	transition: all 0.2s ease-in;
}

.projectHover .change {
	background-color: rgba(12, 19, 27, 0.6);
	width: 300px;
	padding: 200px;
	height: 300px;
	opacity: 0;
	transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.projectHover h2 {

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Raleway, serif;
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}

.projectHover p {
    transform: translate(-300px, 300px);
    transition: all 0.2s ease-in-out;
}

.projectHover a.info { 
    transform: translate(0px, 500px);
    transition: all 0.2s 0.1s ease-in-out;
}

.projectHover:hover h2, .projectHover:hover p, .projectHover:hover a.info {
    transform: translate(0px,0px);
    transition-delay: 0.2s;    
}

.projectHover:hover .change { 
    opacity:1; 
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
}

.projects .change, .projects .content {
	width: 300px;
	height: 300px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
}

.projects h2 {
    position: relative;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    margin: 20px 0 0 0;
}

.projects p {
    position: relative;
    padding: 0px 20px 0px;
    font-size: 18px;
    font-style: italic;
    color: #fff;	
}

.projects a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    box-shadow: 0 0 1px #000;
	margin-top: 25px;
}

.projects a.info:hover {
    box-shadow: 0 0 5px #000;
}