header, #name, #navigation, #main, #about, #resume, #portfolio, #shoppingList, #fizzBuzz, #hotOrCold,
#quiz, #stackoverflow, #weatherStation, footer, #rowOne, #rowTwo, h1 {
	position: relative;
	/*border: 1px solid black;*/
}

.navButton {
	text-decoration: none;
}

.navButton:link {
	color: #000;
}

.navButton:hover {
	color: blue;
}

h1 span {
	position: absolute;
	top: -150px;
}

.headingAnimation {
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slideup;
}

@-webkit-keyframes slideup {
	from {
		margin-bottom: 100%;
		width: 300%;
	}

	to {
		margin-top: 2.2%;
		width: 100%;
	}
}

html {
	background-color: #59546B;
	background-image: url(images/backgroundMain.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family:'Ubuntu', serif;
}

header {	
	position: fixed;
	border: 1px solid black;
	margin-left: -9px;
	margin-top: -170px;
	height: 150px;
	width: 100%;
	background-color: #fff;
	z-index: 1;
	background: rgba(255, 255, 255, 0.9);
}

#name {
	text-align: center;
}

#name ul {
	list-style: none;
	margin-top: -20px;
}

#name ul li {
	display: block;
	font-size: 14px;
	margin: 0 0 5px 0;
	text-align: center;
}

#navigation {
	float: right;
	height: 40px;
	margin-left: 20px;
	margin-top: -7px;
}

#navigation ul {
	list-style: none;
	margin-left: -10px;
	margin-top: 0;
}

#navigation ul li {
	display: inline-block;
	margin: 10px 15px 0 15px;
	font-size: 1.5em;
}

#main {
	margin: 0 auto;
	margin-top: 150px;
	width: 1000px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#about {
	height: 200px;
}

#about p, #resume p {
	font-size: 20px;
	margin-left: 25px;
}

#resume {
	height: 300px;

}

#portfolio {
	height: 750px;
}

.projects {
	border: 3px solid #BBC7C5;
	float: left;
	margin-top: 25px;
	margin-left: 12px;
	margin-right: 12px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	box-shadow: 1px 1px 2px #e6e6e6;
	text-align: center;
	background: #fff no-repeat center center;
}

.projects .change, .projects .content {
	width: 300px;
	height: 300px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.projects img {
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
}

.projects h2 {
    position: relative;
    color: #fff;
    font-size: 17px;
    
    padding: 10px;
    text-align: center;
    background: #000;
    opacity: 0.8;
    margin: 20px 0 0 0;
}

.projects p {
    font-size: 18px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
}

.projects p:nth-child(4) {
	font-size: 12px;
}

.projects a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    box-shadow: 0 0 1px #000;
}

.projects a.info:hover {
    box-shadow: 0 0 5px #000;
}

footer {
	position: absolute;
	margin-left: -9px;
	height: 75px;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

footer img {
	height: 75px;
	width: 75px;
}

/*--- Hover effects ---*/
.projectHover img {
	transition: all 0.2s ease-in;
}

.projectHover .change {
	background-color: rgba(12, 19, 27, 0.6);
	width: 300px;
	padding: 200px;
	height: 300px;
	opacity: 0;
	transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.projectHover h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Raleway, serif;
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}

.projectHover p {
    transform: translate(-300px, 300px);
    transition: all 0.2s ease-in-out;
}

.projectHover a.info { 
    transform: translate(0px, 500px);
    transition: all 0.2s 0.1s ease-in-out;   
}

.projectHover:hover h2, .projectHover:hover p, .projectHover:hover a.info { 
    transform: translate(0px,0px);
    transition-delay: 0.2s;    
}

.projectHover:hover .change { 
    opacity:1; 
    transform: translate(-80px, -125px) rotate(45deg);
}